<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/newstyle.css">
    <title>AcademixBot</title>
    <!-- <script type="text/javascript" src="/newscript.js"></script> -->
</head>
<body>
    <div id="chatPopup" class="chat-popup">
        <span class="close" onclick="closeChatPopup()">&times;</span>
        <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/32d3bf16-54a7-49f2-9d68-924e96d9652a"></iframe>
    </div>

</body>
</html>    